body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  padding: 2em 2em;
  background-color: rgb(241, 237, 234);
  color: #7f2704;
  overflow-x: hidden;
}

.wrapper1 {
  display: flex;
  flex-flow: row wrap;
}
.wrapper2 {
  display: flex;
  flex-flow: column wrap;
  grid-gap: 10px;
}

.text {
  color: #7f2704;
  max-width: 20em;
}
#images {
  max-width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.buttons {
  display: flex;
  flex-direction: row;
}

button {
  background: #fee8d3;
  color: #7f2704;
  border: none;
  position: relative;
  height: 50px;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 7em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
button:hover {
  background: #fff;
  color: #7f2704;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #7f2704;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

img {
  padding: 5px;
  height: 500px;
}

#link {
  background-color: #7f2704;
  color: #ffffff;
  text-decoration: none;
  padding: 0 3px 0 3px;
}

#link:hover {
  background-color: rgb(241, 237, 234);
  color: #000000;
  transition: 400ms ease all;
}
