body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  padding: 2em 2em;
  background-color: rgb(241, 237, 234);
  color: #7f2704;
  overflow-x: hidden;
}

.wrapper1 {
  display: flex;
  flex-flow: row wrap;
}
.wrapper2 {
  display: flex;
  flex-flow: column wrap;
  grid-gap: 10px;
}

.text {
  color: #7f2704;
  max-width: 20em;
}
#images {
  max-width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 450px;
  margin: bottom 0.5em;
}

button {
  background: #fee8d3;
  color: #7f2704;
  border: none;
  position: relative;
  height: 50px;
  font-size: 0.8em;
  margin-top: 0.5em;
  width: 120px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
button:hover {
  background: #fff;
  color: #7f2704;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #7f2704;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

#email {
  font: size 0.8rem;
  heigth: 0;
  width: 0;
  opacity: 0;
  background-color: #ffffff;

  overflow: hidden;
  text-align: center;
}

#ebutton:hover + #email {
  transition: width 700ms ease, heigth 700ms ease, opacity 1000ms ease;
  background-color: #fee8d3;
  opacity: 1;
  heigth: auto;
  width: 360px;
}

#email:hover {
  background-color: #fee8d3;
  opacity: 1;
  heigth: 50px;
  width: 360px;
}
img {
  padding: 5px;
  height: 500px;
}

#link {
  color: #7f2704;
  padding: 0 3px 0 3px;
}

#link:hover {
  background-color: #7f2704;
  color: #ffffff;
  transition: 400ms ease all;
}
