body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    height: auto;
    width: auto;
    padding:0 0;
    margin: 0 0;
}

#canvasControls {
    background-color: transparent;
    position: absolute;
    top:inherit;
    left: inherit;
    z-index: 5;
    padding: 0;
    margin: 0px;

  }