<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='javascript/main.js')}}"></script>        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet"> 
        <title>Aaron Haarti</title>        
    </head>
    <body>
        <div class="wrapper1">
            <div class="wrapper2">
                <div class="text">
                    <H1>Aaron Haarti</H1>
                    <p>Theoretical physicist and programmer.</p>
                    <p>Student at Univeristy of Helsinki.</p>
                    <p>Passion in understading systems for what they are, and depicting them analytically and/or computationally.</p>
                </div>
                <div class="buttons">
                    <button>CV</button>
                    <button>Github</button>
                    <button>Email</button>
                </div>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='images/mandelbrot.png') }}" alt="Seahorse valley">
            </div>
        </div>
        <div id="tester"></div>

    </body>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/load-mandelbrot.js')}}"></script>        

</html>